body, p {
    margin: 0;
    background-color: #f8f9fa;
}

div, section {
    box-sizing: border-box;
}

.side-bar {
    float: left;
    background-color: #120984;
    width: 40px;
    height: 100vh;
    position: fixed;
    z-index: 5;
    transition: all 0.5s;
}

.side-bar-list {
    list-style: none;
    color: white;
    transform: translateX(-40px);
    margin-top: 20px;
    position: relative;
    cursor: pointer;
    padding: 10px;
}

.side-bar-list:hover {
    background-color: #2c23b3;
}

.side-bar-text {
    position: absolute;
    top: 10px;
    left: 35px;
    transform: translateX(-200px);
    transition: all 0.5s;
}

.side-bar:hover {
    width: 140px;
}

.side-bar:hover .side-bar-text {
    transform: translateX(0);
}



.nav-bar {
    width: auto;
    margin-left: 40px;
    box-shadow: lightgray 2px 2px 2px;
}

.nav-input {
    border-radius: 5px 0px 0px 5px;
    border: 1px solid black;
    width: 200px !important;
    transition: all 0.5s;
}

.nav-input:focus {
    width: 300px !important;
}

.nav-icon {
    border-radius: 0px 5px 5px 0px;
    background-color: black;
    border: 1px solid black;
    color: white;
}

.nav-icon:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.forms {
    flex-flow: row;
}

.nav-badge{
    padding: 8px;
    margin-right: 10px;
    margin-top: 5px;
}

.badge {
    position: absolute;
    right: -10px;
    top: -13px;
}

.main-container {
    width: auto;
    height: 100%;
    margin-left: 40px;
    padding: 20px;
}

.cards {
    height: 120px;
}

.cards-1 {
    border-left: 3px solid skyblue;
}
.cards-2 {
    border-left: 3px solid green;
}
.cards-3 {
    border-left: 3px solid #120984;
}
.cards-4 {
    border-left: 3px solid orange;
}


.card-icon {
    color: gray;
    padding: 10px;
}

.content {
    margin-top: 15px;
}

.chart {
    margin-top: 15px;
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: 1px 1px lightgrey;
}

.chart h5 {
    padding: 15px;
    padding-left: 20px;
    margin-bottom: 0;
    border-bottom: 2px solid #eee;
}

#myChart {
    background-color: white;
    padding: 20px
}

.tasks {
    margin-top: 15px;
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: 1px 1px lightgrey;
}

.tasks h5 {
    padding: 15px;
    padding-left: 20px;
    margin-bottom: 0;
    border-bottom: 2px solid #eee;
}

.task-text {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border: 1px solid #eee;
}

.task-badge {
    color: white;
    padding: 0px 10px 0px 10px;
    border-radius: 30px;
}

footer {
    color: lightgray;
    text-align: center;
    margin-top: 150px;
}

footer i {
    margin: 10px;
    width: 25px;
    height: 25px;
    color: white;
    background-color: lightgrey;
    border-radius: 50px;
    box-sizing: border-box;
    padding-top: 5px; 
    
}
