body, p {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.side-bar {
    float: left;
    width: 40px;
    height: 100vh;
    background-color: blue;
}

.nav-bar {
    float: left;
    width: 90%;
}

.nav-input {
    border-radius: 5px 0px 0px 5px;
    border: 1px solid lightgray;
    width: 200px !important;
    transition: all 0.5s;
}

.nav-input:focus {
    width: 300px !important;
}

.nav-icon {
    border-radius: 0px 5px 5px 0px;
    background-color: black;
    border: 1px solid lightgray;
    color: white;
}

.nav-icon:hover {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
}

.forms {
    flex-flow: row;
}

.nav-badge{
    padding: 8px;
    margin-right: 10px;
    margin-top: 5px;
}

.badge {
    position: absolute;
    right: -10px;
    top: -13px;
}
