body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

p,h2{
    margin-top: 10px;
}

.container {
    padding: 20px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
    cursor: pointer;
}

.btn:hover {
    animation-name: btn-move;
    animation-duration: 0.3s;
}

.num2 {
    width: 100px;
    margin: auto;
    font-size: 50px;
    text-align: center;
}

.num2:hover {
    animation-name: changeX;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.nav-bar1 {
    width: 300px;
    height: 100%;
    background-color: black;
    color: white;
    padding: 25px;
    text-align: right;
    position: fixed;
    z-index: 5;
    transform: translateX(-220px);
    transition: all 1s;
}

.nav-bar1 h4 {
    margin-bottom: 50px;
}

.item {
    transform: translateX(-200px);
    transition: all 1s;
}

.nav-bar1:hover{
    transform: translateX(0);
    text-align: center;
}

.nav-bar1:hover .item {
    transform: translateX(0);
}



@keyframes btn-move {
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes changeX {
    25% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(45deg) scale(2);
    }
}