body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

p,h2{
    margin-top: 10px;
}

.container {
    padding: 20px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
    cursor: pointer;
}

.btn:hover {
    animation-name: btn-move;
    animation-duration: 0.3s;
}

.num2 {
    width: 100px;
    margin: auto;
    font-size: 50px;
    text-align: center;
}

.num2:hover {
    animation-name: changeX;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.nav-bar {
    text-align: center;
    background-color: black;
    width: 120px;
    height: 500px;
    transition: 0.5s;
}

.nav-bar h2,p {
    color: white;
    transform: translateY(50px);
}

.nav-bar p {
    opacity: 0;
}

.nav-bar:hover {
    width: 500px;
}

.nav-bar:hover p{
    opacity: 1;
}

@keyframes btn-move {
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes changeX {
    25% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(45deg) scale(2);
    }
}